body{
    background: #ffffff;

}
div.container-fluid{
    padding: 0 !important;

}

.tagline {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 800px; /* Ajusta la altura según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}